* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;    
}
.main{
    display: grid;
    grid-template-rows: 60px auto 40px;
    box-sizing: border-box;
    min-height: 98vh;
    width: 98vw;
}
.navbar {
    width: 100%;
}
.nav-logo .icon{
    font-size: 1.8em;
}
.nav-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    width: 70%;
}
.nav-items .nav-item {
    font-size: 1.5em;
}
.card-item{
    width: 100%;
    font-size: 1.4em;
}
.subtitle{
    font-size: 1.2em;
}
.title{
    font-weight: 500;
    font-size: 2.5em;
}
.buttons{
    display: flex;
}
.buttons .button{
    margin: 10px 10px 0 0;
}
.footer{
    justify-self: center;
    bottom: 2px;
    font-size: 1.2em;
}

